* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    gap: 40px;
   
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 9999;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
}
.container a:hover{
    background: #f0eeee;
}
.img-logo{
    height: 80px;
    width: 110px;
    background-image: url("https://images.seeklogo.com/logo-png/44/1/pinterest-logo-png_seeklogo-441479.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.header a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.leftheader a{
    text-decoration: none;
    color: black;
}

.leftheader{
    display: flex;
    gap: 40px;
    font-size: 15px;
    padding: 10px 20px;
    align-items: center;

}


.search-box {
    position: relative;
    width: 600px;
    align-items: center;
    display: flex;
    min-width: 400px;
}

.search-box i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color:  #b7b5b5;
    
}

.search-box input {
    width: 100%;
    padding: 12px 15px 12px 45px;
    border-radius: 15px;
    border: none;
    background-color: #eeebe7;
    font-size: 15px;
    height: 50px;
    
}
.search-box input:hover{
    background:#dedbd7;
}
/* span{
    color: red;
    font-weight: bolder;
    font-style: inherit;
    font-size: 20px
} */
.button{
    display: flex;
    gap: 10px;
}
button{
    background-color: rgb(238, 3, 3);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0px 20px;
    height: 50px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
   
}
button:hover{
    background: #d80121;
}
.signup{
    background-color: #e9e6e6;
    color: black;
    cursor: pointer;
    border-radius: 20px;
}
.signup button{
    background-color: rgb(241, 240, 238); 
    color: black;
}
.signup button:hover{
    background:#c6c4c4 ;
}

.intro{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    z-index: 1;
   
   
}
.intro p{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 30px;
    align-items: center;
    margin-left: 50px;  
   
}
.joining-buttons{
    display: flex;
    gap: 10px;
}
.join-btn{
    background-color: rgb(229, 2, 2);
}
.join-btn:hover{
    background: #d10221;
}
.account-btn{
   background-color: #e2dcdc;
   color: black;
} 
.account-btn:hover{
    background:#c6c4c4 ;
}
.image{
    margin: 5px;
    height: 60vh;
    width:50%;
    position: absolute;
    right: 0;

  }

.image img{
   height: 60vh;
   background-size: contain;
}
.hero p{
   font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.4;
    text-align: center;
}

.hero h1{
  
    text-align: center;
    font-size: 50px;
}

.hero{
    background-color:rgb(245, 245, 245);
}



.skin-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 125px;
    padding: 60px 100px;
}


.image-box {
    width: 775px;
    height: 665px;
    
   
}

.image-box img {
    width: 90%;
    height: 85%;
    border-radius: 50px;
    object-position: center;
    margin-left: 90px;
   
}

.content{
  
    height: 50vh;
    width: 50%;
    
}
.content h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
}

.content p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
}

.content button {
    border: none;
    outline: none;
    background: #e60023;
    color: white;
    border-radius: 18px;
    cursor: pointer;
}

.content button:hover {
    background: #c9001f;
}

.content-boards{
    height: 50vh;
    width: 50%;
}

.content-boards h1{
    font-size: 37px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
}

.content-boards p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
}

.content-boards button {
    border: none;
    outline: none;
    background: #e60023;
    color: white;
    border-radius: 18px;
    cursor: pointer;
}

.content-boards button:hover {
    background: #c9001f;
}


.boards {
    width: 100%; 
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 100px ;
   
    

}
.image-boards {
    width: 775px;
    height: 665px;  
}

.image-boards img {
    width: 90%;
    height: 85%;
    border-radius: 50px;
    object-position: center;
    margin-left: 25px; 
}

.beauty {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 125px;
    padding: 60px 100px;
}


.image-beauty {
    width: 775px;
    height: 665px;
    
   
}

.image-beauty img {
    width: 90%;
    height: 85%;
    border-radius: 50px;
    object-position: center;
    margin-left: 90px;
   
}

.content{
  
    height: 50vh;
    width: 50%;
    
}
.content h1 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
}

.content p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
}

.content button {
    border: none;
    outline: none;
    background: #e60023;
    color: white;
    border-radius: 18px;
    cursor: pointer;
}

.content button:hover {
    background: #c9001f;
}

.bg-parent{
    height: 100vh;
    width: 100%;
    background-image: url(./Pinterest.jpg);
    display: flex;
    background-size: 250vh;
    background-position: 80% 80%;
    

    
}

.ideas h1{
    font-size: 70px;
    align-items: center;
    margin-top: 250px;
    margin-left: 100px;
    color: white;
    font-weight: bolder;

}
.ideas{
    height: 100vh;
    width: 50%;
    background: rgba(0, 0, 0, 0.4);
}
.login{
    height: 100vh;
    width: 50%;
    background: rgba(0, 0, 0, 0.4);
  
  
}

.page{
    height: 85vh;
    width: 60%;
    background-color: white;
    margin-top: 60px;
    margin-left: 150px;
    border-radius: 25px;
}

.icon img{
    height: 70px;
    width: 70px;
    object-fit: contain;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
}


.page h4{
    font-size: 30px;
    font-weight: 550;
    margin-left: 20px;
    margin-top: 10px;
}

.page p{
    font-size: 15px;
    color: rgb(0, 0, 0, 0.7); 
    margin-left: 20px;
    margin-top: 5px;

}
.numbers p{
    font-size: 10px;
    color: rgb(0, 0, 0, 0.5); 
    margin-left: 30px;
}

.page input{
    height: 55px;
    width: 90%;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border-width: 1px;

    border-style: solid;
    padding: 10px;
}
input::placeholder {
    font-size: 15px;
}

.btn button{
    height: 50px;
    width: 90%;
    margin: 20px;
    border-radius: 15px;
    background-color: #d40121;
    font-size: 18px;
}
.btn button:hover {
    background: #c9001f;
}

.OR p{
    text-align: center;
    margin-top: -2px;
}

.google button{
    height: 50px;
    width: 90%;
    margin: 20px;
    margin-top: 8px;
    border-radius: 20px;
    border-width: 1.5px;
    font-size: 18px;
    color: black;
    border-style: ridge;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.google button:hover {
    background: #f5eeee;
}
.img{
    height: 30px;
    width: 30px;
    background-image: url(./image8-2-removebg-preview.png);
    background-size: cover;
    background-position: center;
    border: 1px solid white;
    border-radius: 100%;
   
    

}
.google button span{
    text-align: center;
    color: black;
    font-size: 15px;
    margin-right: 30%;
    font-weight: 500;
}

.bottom-content p{
    font-size: 15px;
}
.bottom-content a{
    color: black;
}

.terms p{
    font-size: 13px;
    color: #878686;
}
.terms a{
    color: #878686;
}

.footer{
    background-color: black;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
   
}
.footer img{
    height: 180px;
    width: 180px;
    object-fit: contain;
    margin-left: 200px;
    margin-top: 20px;
   
}

.pinterest p{
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin-left: 200px;
    margin-top: 70px;
    

}

.footer-right{
    background-color: black;
    width: 50%;
    height: 50vh;
    display: flex;  
    margin-left: auto;
    gap: 100px;
}
.footer-right p{
    font-size: 15px;
    font-weight: bold;
    margin-top: 100px;
    color: white;
    
   
}

.GIA{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Quick{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.policy{
     display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-right a {
    text-decoration: none;
    color: white;
}

.footer-right a:hover {
    text-decoration: underline;
}
