
body{
    background-color: black;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: black;
    color: white;

}

.container span{
    color: antiquewhite;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    
}

.header{
    display: flex;
   gap: 50px;

}

.header a {
color: rgb(208, 202, 202);
text-decoration: none;
font-size: 20px;
font-style: inherit;
}

.about{
    background-color: black;
    margin: 5px;
    height: 100vh;
    width: 50%;  
    position: absolute;
    left: 0;
    color: white;
}

.image{
    background-color: black;
    margin: 5px;
    height: 100vh;
    width:50%;
    position: absolute;
    right: 0;
}

.parent{
    position: relative;
}
.img{
    height: 100vh;
    width: 90%;
    border: 1px solid white;
    margin: auto;
    margin-top: 10px;
    background-image: url(./0F8A8487.JPG);
    background-size: cover;
    background-position: bottom;
    border-radius: 50px 10px 50px;

}

span{
    font-size: 80px;


}

.color{
    color: rgb(68, 113, 68);
}

p{
    font-size: 30px;
    text-align: justify;

}

.btn{
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 15px;
    display: block;
    margin: 80px 0px 10px 50%;
    background-color: black;
     color: rgb(68, 113, 68);

}